html{
    background-color: silver;
}
@media screen and (max-width: 550px) {
  main {
    display: block;
  }
}
header, main, footer {
  max-width: 960px;
  margin: 0 auto;
}
header{
    color:white;
    display: flex;
    justify-content: center;
    font-family: 'Sansita Swashed', cursive;
}
body{
    background-color: white;
    font-size: 16px;
    
}
.logo{
    display: flex;
    text-align: center;
    margin: 30px 20px;
}
picture .hero-image{
    background-color:rgb(245, 102, 7);
    padding:1em;
    margin: auto;
    border: 5px solid black;
}
h2{
    font-family: 'Dancing Script', cursive;
    text-align: justify;
}
p{
    display: block;
    font-size: larger;
    line-height: 2rem;
    border-bottom: 1px solid black;
}
section, .home-away, .wedding{
    display: flex;
    align-items: center;
    margin: 200px 0 350px 0;
}
section img{
    background-color: rgb(245, 102, 7);
    padding: 1em;
    position: relative;
   
}

section, .home-away, .wedding p{
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    padding-bottom: 5px;
}

header, footer{
    background-color:rgb(53, 51, 47);
    color: white;
    padding:0;
    margin-bottom: 0;
}
.navigation li{
    background-color: rgb(53, 51, 47);
    padding: 10px;
    margin-top:0;
    text-align: center;
    flex: 1 1 auto;
    display: inline-block;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: flex;
}
li a:hover{
    background-color: rgb(83, 81, 75);
}
.contact-info {
    list-style-type: none;
}
footer{
    display: flex;
}
.social li{
    list-style-type: none;
    display: inline-block;
    margin: auto;
}