header, main, footer {
  max-width: 960px;
  margin: 0 auto;
}
html{
    background-color: silver;
}
body{
    background-color: white;
    margin: 50px;
}
picture{
    background-color:rgb(245, 102, 7);
    padding:1em;
}
section img{
    background-color: rgb(245, 102, 7);
    padding: 5em;
}
header, footer{
    background-color:rgb(53, 51, 47);
    color: white;
    padding:0;
    margin-bottom: 0;
}
.navigation li{
    background-color: rgb(53, 51, 47);
    color:white;
    padding: 10px;
    margin-top:0;
    float: right;
    text-align: center;
    text-decoration: none;
    display:inline-block
    
}